<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>This is the Project Page</h1>
    <a href="{{ url_for('home') }}">Back to Home</a>

    <!-- General Task Box -->
    <div class="general-task">
        <label for="project-name">Project Name:</label>
        <input type="text" id="project-name" class="general-task-box" placeholder="Enter the project name...">
        
        <label for="project-description">Project Description:</label>
        <textarea id="project-description" class="general-task-box" placeholder="Describe the project..."></textarea>
        
        <label for="project-duration">Project Duration:</label>
        <input type="text" id="project-duration" class="general-task-box" placeholder="Enter the project duration...">
    </div>

    <div id="members"></div>

    <button class="add-member-btn" onclick="addMember()">Add Anonymous Member</button>
    <button id="gentimeline" class="gentimeline">Generate Timeline</button>
    <script src="{{ url_for('static', filename='project.js') }}"></script>

    <script>
    </script>
</body>
</html>